/* Responsive variables */
$breakpoint-mobile: 320px;
$breakpoint-mobile-l: 568px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-l: 1024px;
$breakpoint-laptop: 1366px;
$breakpoint-laptop-l: 1440px;
$breakpoint-desktop: 1680px;
$breakpoint-desktop-l: 1920px;

/* Font variables */
$font-bold: 600;
$font-medium: 500;
$font-regular: 400;

/* Font */
@font-face {
  font-family: "Pretendard-Bold";
  font-weight: $font-bold;
  src: url("../../public/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Medium";
  font-weight: $font-medium;
  src: url("../../public/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: $font-regular;
  src: url("../../public/fonts/Pretendard-Regular.woff2") format("woff2");
}

/* Flex style */
@mixin flex($direction: row, $position: center, $align: center) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$position};
  align-items: #{$align};
}

/* Responsive style */
@mixin responsive($point) {
  @if $point == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
  @if $point == mobile-l {
    @media (max-width: $breakpoint-mobile-l) {
      @content;
    }
  }
  @if $point == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }
  @if $point == tablet-l {
    @media (max-width: $breakpoint-tablet-l) {
      @content;
    }
  }
  @if $point == laptop {
    @media (max-width: $breakpoint-laptop) {
      @content;
    }
  }
  @if $point == laptop-l {
    @media (max-width: $breakpoint-laptop-l) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  }
  @if $point == desktop-l {
    @media (max-width: $breakpoint-desktop-l) {
      @content;
    }
  }
}
