@import "@/styles/variables.scss";

#hamburger {
  cursor: pointer;
  padding: 0.5rem;

  div {
    background-color: white;
    width: 3rem;
    height: 0.4rem;
    transition: 0.4s;

    &:nth-child(2) {
      margin: 0.6rem 0;
    }

    &.change {
      &:nth-child(1) {
        transform: translate(0, 1rem) rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translate(0, -1rem) rotate(45deg);
      }
    }
  }
}
