@import "@public/styles/_variables.scss";

#project {
    @include flex("column", "center", "center");

    .card-wrapper {
        @include flex("row", "center", "center");
        gap: 1.3rem;
        flex-wrap: wrap;

        @include responsive(tablet) {
            gap: 1rem;
        }
        @include responsive(mobile-l) {
            gap: 0.5rem;
        }
    }
}
