@import "@/styles/variables.scss";

#card {
  border-radius: 2rem;

  .card-detail {
    width: 29rem;
    height: 40rem;
    border: 1px solid transparent;
    background-color: $softBlack;
    border-radius: 2rem;
    overflow: auto;
    transition: all 0.5s ease-in-out;

    &:hover {
      border: 1px solid $softGray;
      transition: all 0.5s ease-in-out;
    }
    img {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      width: 100%;
      height: 45%;
    }

    .info {
      @include flex("column", "space-between", "center");
      width: 100%;
      height: 55%;
      padding: 1.5rem;
      gap: 0.3rem;

      .project-title {
        font-family: "Pretendard-Medium";
        font-size: 1.7rem;
      }
      .text-area {
        @include flex("column", "flex-start", "flex-start");
        color: $softGray;
        font-size: 1.4rem;
        line-height: 2rem;
        gap: 1rem;
        width: 100%;
      }
      .link-area {
        @include flex("row", "space-between", "center");
        width: 100%;
        .link-detail {
          @include flex("row", "flex-start", "center");
          gap: 0.8rem;
          svg {
            width: 1.4rem;
            height: 1.4rem;
          }
          a {
            font-size: 1.4rem;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
