@import "@public/styles/_variables.scss";

#header {
    @include flex("row", "space-between", "center");
    .title {
        font-family: "Pretendard-Bold";
        font-size: 1.5rem;
        transition: 0.3s;

        &:hover {
            color: $link;
            transition: color 0.3s ease;
        }
    }
    .link {
        @include flex("row", "space-between", "center");
        gap: 1.5rem;

        a {
            font-size: 1.2rem;
            font-family: "Pretendard-Regular";
            color: $link;
            transition: color 0.3s ease;

            &:hover {
                color: #fff;
                transition: color 0.3s ease;
            }
        }
    }
}
