@import "@public/styles/_variables.scss";

#about {
    @include flex("row", "center", "center");
    gap: 10rem;
    flex-wrap: wrap;

    @include responsive(laptop) {
        @include flex("column", "center", "center");
        gap: 13rem;
    }

    &:lang(en) {
        @include flex("column", "center", "center");
        gap: 13rem;
    }

    .image-wrapper {
        img {
            width: 35rem;
            height: 35rem;
            border-radius: 50%;
            animation: twinkling 7s infinite;
            @keyframes twinkling {
                0% {
                    filter: drop-shadow(0 0 80px $white);
                }
                50% {
                    filter: drop-shadow(0 0 140px $white);
                }
                100% {
                    filter: drop-shadow(0 0 80px $white);
                }
            }

            @include responsive(laptop) {
                animation: twinkling 7s infinite;
                @keyframes twinkling {
                    0% {
                        filter: drop-shadow(0 0 50px $white);
                    }
                    50% {
                        filter: drop-shadow(0 0 80px $white);
                    }
                    100% {
                        filter: drop-shadow(0 0 50px $white);
                    }
                }
            }
        }
    }

    .text-wrapper {
        @include flex("column", "center", "flex-start");
        gap: 0.7rem;

        .text-area {
            @include flex("column", "center", "flex-start");
            @include responsive(tablet) {
                flex-wrap: wrap;
            }
            p {
                display: inline;
                color: $white;
                font-size: 3rem;
                white-space: nowrap;
                margin-bottom: 0.8rem;
                width: auto;
                overflow: hidden;
                &:first-child {
                    margin-bottom: 1.5rem;
                }
                &:lang(en) {
                    @include responsive(tablet-l) {
                        white-space: pre-line;
                    }
                }
            }
            .greet {
                font-size: 4rem;
                border-right: 1px solid $white;
                animation: greetTyping 2s steps(30) 1 forwards;
                max-width: 18.5rem;
                &:lang(en) {
                    max-width: 11rem;
                    @include responsive(tablet-l) {
                        animation: none;
                        border-right: none;
                    }
                }
            }
            .introduce {
                visibility: hidden;
                animation: introduceTyping 3s 1s steps(44) 1 forwards;
                border-right: 1px solid $white;
                max-width: 39rem;
                &:lang(en) {
                    max-width: 34.5rem;
                    animation: introduceTyping 1.7s 1s steps(44) 1 forwards;
                    @include responsive(tablet-l) {
                        animation: none;
                        visibility: visible;
                        border-right: none;
                    }
                }
            }
            .desc {
                visibility: hidden;
                border-right: 1px solid $white;
                animation: descTyping 3s 3s steps(50) 1 forwards;
                max-width: 75rem;
                @include responsive(tablet) {
                    display: none;
                }
                &:lang(en) {
                    max-width: 83rem;
                    animation: descTyping 3s 2.5s steps(50) 1 forwards;
                    @include responsive(tablet-l) {
                        animation: none;
                        visibility: visible;
                        border-right: none;
                    }
                    @include responsive(tablet) {
                        display: block;
                    }
                }
            }
            .tabletDesc {
                display: none;
                border-right: 1px solid $white;
                gap: 0.4em;

                @include responsive(tablet) {
                    @include flex("column", "flex-start", "flex-start");
                    visibility: hidden;
                }
                &:lang(en) {
                    display: none;
                }
                p {
                    margin-bottom: 0;
                }
                .tabletTopDesc {
                    border-right: 1px solid $white;
                    animation: tabletDescTopTyping 3s 3.5s steps(50) 1 forwards;
                    max-width: 50rem;
                }
                .tabletBottomDesc {
                    border-right: 1px solid $white;
                    animation: tabletDescBottomTyping 3s 6.6s steps(50) 1 forwards;
                    max-width: 23rem;
                }
            }

            @keyframes greetTyping {
                0% {
                    width: 0%;
                }
                100% {
                    width: 100%;
                    border-right: none;
                }
            }

            @keyframes introduceTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }
                99% {
                    border-right: 1px solid $white;
                }
                100% {
                    visibility: visible;
                    width: 100%;
                    border-right: none;
                }
            }

            @keyframes descTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }

                100% {
                    width: 100%;
                    visibility: visible;
                }
            }

            @keyframes tabletDescTopTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }
                99% {
                    border-right: 1px solid $white;
                }
                100% {
                    visibility: visible;
                    border-right: none;
                    width: 100%;
                }
            }
            @keyframes tabletDescBottomTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }
                100% {
                    visibility: visible;
                    width: 100%;
                }
            }
        }
    }
}
