@import "@public/styles/_variables.scss";

#about {
    @include flex("row", "center", "center");
    gap: 10rem;
    flex-wrap: wrap;

    .image-wrapper {
        img {
            width: 35rem;
            height: 35rem;
            border-radius: 50%;
            animation: twinkling 7s infinite;
            @keyframes twinkling {
                0% {
                    filter: drop-shadow(0 0 80px $white);
                }
                50% {
                    filter: drop-shadow(0 0 140px $white);
                }
                100% {
                    filter: drop-shadow(0 0 80px $white);
                }
            }
        }
    }

    .text-wrapper {
        @include flex("column", "center", "flex-start");
        gap: 0.7rem;

        .text-area {
            @include flex("column", "center", "flex-start");
            p {
                display: inline;
                color: $white;
                font-size: 3rem;
                white-space: nowrap;
                margin-bottom: 0.8rem;
                width: auto;
                overflow: hidden;
                &:first-child {
                    margin-bottom: 1.5rem;
                }
            }
            .greet {
                font-size: 4rem;
                border-right: 1px solid $white;
                animation: greetTyping 2s steps(30) 1 forwards;
                max-width: 18rem;
            }
            .introduce {
                visibility: hidden;
                animation: introduceTyping 3s 1s steps(44) 1 forwards;
                border-right: 1px solid $white;
                max-width: 39rem;
            }
            .desc {
                visibility: hidden;
                border-right: 1px solid $white;
                animation: descTyping 3s 3s steps(50) 1 forwards;
                max-width: 75rem;
            }

            @keyframes greetTyping {
                0% {
                    width: 0%;
                }
                100% {
                    width: 100%;
                    border-right: none;
                }
            }

            @keyframes introduceTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }
                100% {
                    visibility: visible;
                    width: 100%;
                    border-right: none;
                }
            }

            @keyframes descTyping {
                0% {
                    visibility: visible;
                    width: 0%;
                }
                100% {
                    width: 100%;
                    visibility: visible;
                }
            }
        }
    }
}
