@import "@/styles/variables.scss";

#about {
  height: auto;
  @include flex("column", "center", "center");

  .introduce-wapper {
    height: 100vh;
    @include flex("row", "space-evenly", "center");
    @include responsive(laptop) {
      @include flex("column", "space-evenly", "center");
      gap: 5rem;
    }
    width: 100%;

    img {
      height: auto;
      width: auto;
      border-radius: 50%;
    }
    .introduce-sentence {
      @include flex("column", "flex-start", "flex-start");
      font-size: 2rem;
      white-space: pre-line;
      line-height: 2.5rem;
      max-width: 60rem;
      p {
        margin-top: 2.5rem;
      }
    }
  }
  .skill-wrapper {
    height: 100vh;
    width: 100%;
    @include flex("column", "center", "center");
    .icon-wrapper {
      @include flex("row", "center", "center");
      padding: 0 4rem;
      gap: 2rem;
      flex-wrap: wrap;

      .icon-area {
        @include flex("column", "center", "center");
        gap: 1rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          transform: translateY(-1.5rem);
          transition: all 0.4s ease-in-out;
        }

        p {
          font-size: 2rem;
        }

        svg {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
