@import "@/styles/variables.scss";

#about {
  height: inherit;
  @include flex("columns", "center", "center");

  .introduce-wapper {
    @include flex("row", "space-evenly", "center");
    @include responsive(laptop) {
      @include flex("column", "space-evenly", "center");
      gap: 5rem;
    }
    width: 100%;

    img {
      height: auto;
      width: auto;
      border-radius: 50%;
    }
    .introduce-sentence {
      @include flex("column", "flex-start", "flex-start");
      font-size: 2rem;
      white-space: pre-line;
      line-height: 2.5rem;
      max-width: 60rem;
      p {
        margin-top: 2.5rem;
      }
    }
  }
}
