@import "@public/styles/_variables.scss";

#skill {
    @include flex("column", "center", "center");

    .icon-wrapper {
        @include flex("row", "center", "center");
        padding: 0 4rem;
        gap: 2rem;
        flex-wrap: wrap;

        .icon-area {
            @include flex("column", "center", "center");
            gap: 1rem;
            transition: all 0.4s ease-in-out;

            &:hover {
                transform: translateY(-1.5rem);
                transition: all 0.4s ease-in-out;
            }

            p {
                font-size: 2rem;
            }

            svg {
                width: 9rem;
                height: 9rem;
            }
        }
    }
}
