@import "@public/styles/_variables.scss";

#career {
    @include flex("column", "center", "center");
    .career-wrapper {
        @include flex("column", "center", "center");
        gap: 2rem;
        margin: 0 16rem;

        .career-detail {
            @include flex("column", "center", "center");
            width: 100%;
            overflow: hidden;
            max-height: 100vh;
            flex-direction: column;
            flex-flow: wrap;
            border: 1px solid transparent;
            background-color: #242424;
            border-radius: 1.5rem;
            animation: twingkling 10s infinite;
            @keyframes twingkling {
                0% {
                    box-shadow: 1px 1px 100px 10px #242424;
                }
                50% {
                    box-shadow: 1px 1px 100px 30px #242424;
                }
                100% {
                    box-shadow: 1px 1px 100px 10px #242424;
                }
            }
            transition: all 0.4s ease-out;

            &:hover {
                cursor: pointer;
                border: 1px solid #d9d9d9;
                transition: all 0.4s ease-out;
            }

            &.fold {
                max-height: 7.2rem;
            }

            .career-title-area {
                @include flex("row", "space-between", "center");
                width: inherit;
                height: inherit;
                border: 1px solid transparent;
                background-color: #242424;
                border-radius: 1.5rem;
                padding: 2rem;
                max-height: 10rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &.fold {
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }

                p {
                    font-size: 2.2rem;
                    font-family: "Pretendard-Medium";
                    &:last-child {
                        &::after {
                            content: "-";
                            font-size: 3rem;
                            margin-left: 1.5rem;
                        }
                        &.fold {
                            &::after {
                                content: "+";
                            }
                        }
                    }
                }
            }

            .career-info-area {
                @include flex("column", "center", "center");
                gap: 2.5rem;
                width: 100%;
                background-color: #242424;
                padding: 0 2rem 2rem;
                border-radius: 1.5rem;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                .company-area {
                    @include flex("row", "flex-start", "center");
                    width: inherit;
                    gap: 5rem;
                    font-size: 2rem;

                    &:first-child {
                        border-top: 1px solid $white;
                        padding: 2rem 0 0;
                    }
                    .company-detail {
                        @include flex("row", "flex-start", "center");
                        color: #d9d9d9;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}
