@import "@public/styles/_variables.scss";

#career {
    @include flex("column", "center", "center");
    .career-wrapper {
        @include flex("column", "center", "center");
        gap: 2rem;
        margin: 0 16rem;

        @include responsive(laptop) {
            margin: 0 4rem;
        }
        @include responsive(tablet) {
            margin: 0;
        }

        &:lang(en) {
            @include responsive(tablet-l) {
                margin: 0;
            }
        }

        .career-detail {
            @include flex("column", "center", "center");
            width: 100%;
            overflow: hidden;
            max-height: 100vh;
            flex-direction: column;
            flex-flow: wrap;
            border: 1px solid transparent;
            background-color: #242424;
            border-radius: 1.5rem;
            animation: twingkling 10s infinite;
            @keyframes twingkling {
                0% {
                    box-shadow: 1px 1px 100px 10px #242424;
                }
                50% {
                    box-shadow: 1px 1px 100px 30px #242424;
                }
                100% {
                    box-shadow: 1px 1px 100px 10px #242424;
                }
            }

            &:hover {
                cursor: pointer;
                border: 1px solid #d9d9d9;
                transition: all 0.7s cubic-bezier(0.4, 0, 1, 1);
            }

            &.fold {
                max-height: 8rem;
                transition: all 0.4s cubic-bezier(0.1, 0.11, 0.36, 1);
                @include responsive(mobile-l) {
                    max-height: 6.8rem;
                }
            }

            .career-title-area {
                @include flex("row", "space-between", "center");
                width: inherit;
                height: inherit;
                border: 1px solid transparent;
                background-color: #242424;
                border-radius: 1.5rem;
                padding: 2.5rem;
                max-height: 8rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                @include responsive(mobile-l) {
                    padding: 1.5rem;
                    max-height: 6.8rem;
                }

                &.fold {
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }

                p {
                    font-size: 2.2rem;
                    font-family: "Pretendard-Medium";
                    &:lang(en) {
                        @include responsive(tablet-l) {
                            white-space: pre;
                        }
                    }
                    &:last-child {
                        display: flex;
                        align-items: center;
                        &::after {
                            content: "-";
                            font-size: 3rem;
                            margin-left: 1.5rem;
                        }
                        &.fold {
                            &::after {
                                content: "+";
                            }
                        }
                    }
                }
            }

            .career-info-area {
                @include flex("column", "center", "center");
                gap: 2.5rem;
                width: 100%;
                background-color: #242424;
                padding: 0 2.5rem 2.5rem;
                @include responsive(mobile-l) {
                    padding: 0 1.5rem 1.5rem;
                }
                border-radius: 1.5rem;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                .company-area {
                    @include flex("row", "flex-start", "center");
                    width: inherit;
                    gap: 5rem;
                    font-size: 2rem;

                    &:first-child {
                        &.fold {
                            transition: border-top 1s ease-in-out;
                            border-top: 1px solid transparent;
                        }
                        border-top: 1px solid $white;
                        padding: 2.5rem 0 0;

                        @include responsive(mobile-l) {
                            padding: 1.5rem 0 0;
                        }
                    }
                    .company-detail {
                        @include flex("row", "flex-start", "center");
                        color: #d9d9d9;
                        gap: 1rem;
                    }
                    .job-description {
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
}
