@import "@public/styles/_variables.scss";

#skills {
    @include flex("column", "center", "center");

    .title {
        font-family: "Pretendard-Medium";
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .icon-wrapper {
        @include flex("row", "center", "center");
        padding: 0 8rem;
        gap: 2rem;
        flex-wrap: wrap;

        .icon-area {
            @include flex("column", "center", "center");
            gap: 0.5rem;
            transition: all 0.4s ease;

            &:hover {
                transform: translateY(-0.7rem);
                transition: all 0.4s ease;
            }

            p {
                font-size: 1.2rem;
            }

            svg {
                width: 6rem;
                height: 6rem;
                &.html {
                    fill: #e5532f;
                }
                &.css {
                    fill: #1e77b9;
                }
                &.javascript {
                    fill: yellow;
                }
                &.typescript {
                    fill: #3278c6;
                }
                &.react,
                &.react-native {
                    fill: #0b7eaa;
                }
                &.tailwind {
                    fill: #40baff;
                }
                &.sass {
                    fill: #ce6b9d;
                }
                &.git {
                    fill: #de4b36;
                }
            }
        }
    }
}
