@import "@public/styles/_variables.scss";

/* Header */
#header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 100;
    @include flex("row", "space-between", "center");

    .title {
        font-family: "Pretendard-Bold";
        font-size: 3rem;
        width: 10%;
    }

    .right-area {
        @include flex("row", "flex-end", "center");
        gap: 3rem;

        @include responsive(tablet) {
            gap: 2rem;
        }

        .nav-link {
            @include flex("row", "space-between", "center");
            gap: 2rem;

            @include responsive(tablet) {
                gap: 1.2rem;
            }

            li {
                list-style: none;
                font-size: 2.3rem;
                color: #d9d9d9;
                transition: all 0.4s ease-in-out;
                font-family: "Pretendard-Medium";

                &:hover {
                    color: $white;
                    transition: all 0.4s ease-in-out;
                }

                &.active {
                    color: $white;
                    transition: all 0.4s ease-in-out;
                    font-weight: bold;
                }
            }
        }
    }
}

/* Footer */
#footer {
    @include flex("row", "space-between", "center");
    font-size: 2.3rem;

    .link-area {
        @include flex("row", "flex-end", "center");
        gap: 2rem;
        svg {
            fill: $white;
            width: 4rem;
            height: 4rem;
            &:hover {
                cursor: pointer;
                fill: rgba(217, 217, 217, 0.7);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}
