@import "@public/styles/_variables.scss";

/* Header */
#header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 100;
    @include flex("row", "space-between", "center");

    .title {
        font-family: "Pretendard-Bold";
        font-size: 3rem;
        width: 10%;
    }

    .right-area {
        @include flex("row", "flex-end", "center");
        gap: 3rem;

        @include responsive(tablet) {
            gap: 2rem;
        }

        .nav-link {
            @include flex("row", "space-between", "center");
            gap: 2rem;

            @include responsive(tablet) {
                gap: 1.2rem;
            }

            li {
                list-style: none;
                font-size: 2.5rem;
                color: #d9d9d9;
                transition: all 0.4s ease-in-out;

                &:hover {
                    color: $white;
                    transition: all 0.4s ease-in-out;
                }

                &.active {
                    color: $white;
                    transition: all 0.4s ease-in-out;
                    font-family: "Pretendard-Bold";
                }
            }
        }
        .language-wrppaer {
            width: 6.5rem;

            .border-area {
                @include flex("row", "space-evenly", "center");
                border: 1px solid $white;
                border-radius: 0.7rem;
                height: 2.8rem;
                font-size: 2rem;

                .toggle {
                    float: left;
                    width: 50%;
                    border-radius: 0.7rem;
                    text-align: center;
                    height: inherit;
                    line-height: 2.7rem;
                    transition: all 0.4s ease-in-out;

                    &.active {
                        background-color: $white;
                        color: $black;
                        line-height: 2.7rem;
                        text-align: center;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(217, 217, 217, 0.7);
                        color: $black;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
    }
}

/* Footer */
#footer {
    @include flex("row", "space-between", "center");
    font-size: 2.3rem;

    .link-area {
        @include flex("row", "flex-end", "center");
        gap: 2rem;
        svg {
            fill: $white;
            width: 4rem;
            height: 4rem;
            &:hover {
                cursor: pointer;
                fill: rgba(217, 217, 217, 0.7);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}
