@import "@public/styles/_variables.scss";

#card {
    border-radius: 1rem;
    animation: twingkling 10s infinite;
    @keyframes twingkling {
        0% {
            box-shadow: 1px 1px 100px 10px #242424;
        }
        50% {
            box-shadow: 1px 1px 100px 30px #242424;
        }
        100% {
            box-shadow: 1px 1px 100px 10px #242424;
        }
    }
    .card-detail {
        width: 20rem;
        height: 25rem;
        border: 1px solid transparent;
        background-color: #242424;
        border-radius: 1rem;
        overflow: auto;
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid #d9d9d9;
            transition: all 0.5s ease-in-out;
        }
        img {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            width: 100%;
            height: 50%;
            @include responsive(tablet) {
                border-top-right-radius: 0.6rem;
                border-top-left-radius: 0.6rem;
            }
            @include responsive(mobile-l) {
                border-top-right-radius: 0.4rem;
                border-top-left-radius: 0.4rem;
            }
        }

        .info {
            @include flex("column", "space-between", "center");
            width: 100%;
            height: 50%;
            padding: 0.7rem;
            gap: 0.3rem;
            .project-title {
                font-family: "Pretendard-Medium";
                font-size: 1rem;
                @include responsive(desktop-l) {
                    font-size: 1rem;
                }
                @include responsive(desktop) {
                    font-size: 0.85rem;
                }
                @include responsive(tablet) {
                    font-size: 0.65rem;
                }
                @include responsive(mobile-l) {
                    font-size: 0.6rem;
                }
            }
            .text-area {
                @include flex("column", "flex-start", "flex-start");
                color: #d9d9d9;
                font-size: 0.9rem;
                line-height: 1.2rem;
                gap: 0.3rem;
                width: 100%;
                @include responsive(desktop-l) {
                    font-size: 0.9rem;
                    gap: 0.4rem;
                }
                @include responsive(desktop) {
                    font-size: 0.8rem;
                    line-height: 1rem;
                }
                @include responsive(tablet) {
                    font-size: 0.6rem;
                    line-height: 0.8rem;
                }
                @include responsive(mobile-l) {
                    font-size: 0.48rem;
                    line-height: 0.6rem;
                    gap: 0.1rem;
                }
            }
            .link-area {
                @include flex("row", "space-between", "center");
                width: 100%;
                .link-detail {
                    @include flex("row", "flex-start", "center");
                    gap: 0.3rem;
                    svg {
                        width: 0.8rem;
                        height: 0.8rem;
                        @include responsive(desktop-l) {
                            width: 0.8rem;
                            height: 0.8rem;
                        }
                        @include responsive(desktop) {
                            width: 0.7rem;
                            height: 0.7rem;
                        }
                        @include responsive(tablet) {
                            width: 0.55rem;
                            height: 0.55rem;
                        }
                        @include responsive(mobile-l) {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                    }
                    a {
                        font-size: 0.8rem;
                        text-decoration: underline;
                        @include responsive(desktop-l) {
                            font-size: 0.8rem;
                        }
                        @include responsive(desktop) {
                            font-size: 0.65rem;
                        }
                        @include responsive(tablet) {
                            font-size: 0.55rem;
                        }
                        @include responsive(mobile-l) {
                            font-size: 0.4rem;
                        }
                    }
                    @include responsive(mobile-l) {
                        gap: 0.15rem;
                    }
                }
            }
            @include responsive(tablet) {
                padding: 0.5rem;
            }
            @include responsive(mobile-l) {
                padding: 0.3rem;
            }
        }
        @include responsive(desktop-l) {
            width: 18rem;
            height: 23rem;
            gap: 0.1rem;
        }
        @include responsive(desktop) {
            width: 15rem;
            height: 20rem;
        }
        @include responsive(tablet) {
            border-radius: 0.6rem;
            width: 12rem;
            height: 16rem;
        }
        @include responsive(mobile-l) {
            border-radius: 0.5rem;
            width: 8.7rem;
            height: 12.5rem;
            gap: 0;
        }
    }
    @include responsive(tablet) {
        border-radius: 0.4rem;
        border-radius: 0.6rem;
        animation: twingkling 10s infinite;
        @keyframes twingkling {
            0% {
                box-shadow: 1px 1px 100px 7px #242424;
            }
            50% {
                box-shadow: 1px 1px 100px 13px #242424;
            }
            100% {
                box-shadow: 1px 1px 100px 7px #242424;
            }
        }
    }
}
