@import "@public/styles/_variables.scss";

#card {
    border-radius: 3rem;
    animation: twingkling 10s infinite;
    @keyframes twingkling {
        0% {
            box-shadow: 1px 1px 100px 10px #242424;
        }
        50% {
            box-shadow: 1px 1px 100px 30px #242424;
        }
        100% {
            box-shadow: 1px 1px 100px 10px #242424;
        }
    }
    .card-detail {
        width: 38rem;
        height: 48rem;
        border: 1px solid transparent;
        background-color: #242424;
        border-radius: 3rem;
        overflow: auto;
        transition: all 0.5s ease-in-out;

        &:hover {
            border: 1px solid #d9d9d9;
            transition: all 0.5s ease-in-out;
        }
        img {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            width: 100%;
            height: 50%;
        }

        .info {
            @include flex("column", "space-between", "center");
            width: 100%;
            height: 50%;
            padding: 1.5rem;
            gap: 0.3rem;
            .project-title {
                font-family: "Pretendard-Medium";
                font-size: 2.3rem;
            }
            .text-area {
                @include flex("column", "flex-start", "flex-start");
                color: #d9d9d9;
                font-size: 2rem;
                line-height: 2.4rem;
                gap: 1rem;
                width: 100%;
            }
            .link-area {
                @include flex("row", "space-between", "center");
                width: 100%;
                .link-detail {
                    @include flex("row", "flex-start", "center");
                    gap: 0.8rem;
                    svg {
                        width: 2em;
                        height: 2rem;
                    }
                    a {
                        font-size: 1.8rem;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
