@import "./reset";
@import "./variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(14px - 0.25vw);
    @include responsive(desktop-l) {
        font-size: calc(14px - 0.3vw);
    }
    @include responsive(desktop) {
        font-size: calc(14px - 0.35vw);
    }
    @include responsive(laptop-l) {
        font-size: calc(14px - 0.4vw);
    }
    @include responsive(laptop) {
        font-size: calc(14px - 0.45vw);
    }
    @include responsive(tablet-l) {
        font-size: calc(14px - 0.6vw);
    }
    @include responsive(tablet) {
        font-size: calc(14px - 0.7vw);
    }
    @include responsive(mobile-l) {
        font-size: calc(14px - 1.5vw);
    }
    @include responsive(mobile-m) {
        font-size: calc(14px - 2.4vw);
    }
    @include responsive(mobile) {
        font-size: calc(14px - 2.6vw);
    }
}

body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: $black;
    color: $white;
    font-family: "Pretendard-Regular";
    flex-wrap: wrap;
    @include flex("column", "space-between", "center");

    #root {
        width: 100%;
        padding: 0 20rem;
        @include responsive(tablet-l) {
            padding: 0 4rem;
        }
        @include responsive(tablet) {
            padding: 0 2rem;
        }
        @include responsive(mobile-l) {
            padding: 0 1.5rem;
        }
        @include responsive(mobile-l) {
            padding: 0 0.5rem;
        }
    }
    #header,
    #footer {
        width: 100%;
        padding: 3rem 20rem;
        @include responsive(tablet-l) {
            padding: 2.5rem 4rem;
        }
        @include responsive(tablet) {
            padding: 2.5rem 2rem;
        }
        @include responsive(mobile-l) {
            padding: 2.5rem 1.2rem;
        }
        @include responsive(mobile-m) {
            padding: 2rem 0.5rem;
        }
    }

    #about,
    #project,
    #skill,
    #career {
        height: calc(100vh - 5.563rem);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background-color: $white;
    color: $black;
}

button,
img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
    border: none;
}

img {
    display: block;
    width: 100%;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    outline: 0;
    border: 0;
    -webkit-border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #585858;
    -webkit-box-shadow: 0 0 0 0 #222222 inset;
}
